---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hajimari
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: hajimari
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: hajimari
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    hajimari:
      title: Apps
      lightTheme: tron
      darkTheme: tron
      alwaysTargetBlank: true
      showGreeting: false
      showAppGroups: false
      showAppStatus: true
      showBookmarkGroups: true
      showGlobalBookmarks: false
      showAppUrls: false
      showAppInfo: true
      defaultEnable: true
      defaultSearchProvider: Kagi
      namespaceSelector:
        matchNames:
          - default
          - monitoring
      customApps:
        - group: Home
          apps:
            - name: Home-Assistant
              url: https://homeassistant.${SECRET_DOMAIN}
              icon: mdi:home-assistant
            - name: Shodan
              url: "https://www.shodan.io/dashboard"
              icon: mdi:bug
            - name: NextDNS
              url: "https://my.nextdns.io"
              icon: mdi:dns
      globalBookmarks:
        - group: Dev
          bookmarks:
            - name: GitHub
              url: "https://github.com"
            - name: CyberChef
              url: "https://gchq.github.io/CyberChef"
        - group: Cloud
          bookmarks:
            - name: Cloudflare
              url: "https://dash.cloudflare.com"
            - name: Reader/Readwise
              url: https://read.readwise.io
        - group: Kubernetes
          bookmarks:
            - name: Haasie/Onenodethree
              url: "https://github.com/Haasie/onenodethree"
            - name: k8s-at-home-search
              url: "https://whazor.github.io/k8s-at-home-search/"
        - group: Shopping
          bookmarks:
            - name: Gumtree
              url: "https://www.gumtree.com/"
            - name: "Amazon"
              url: "https://amazon.nl/"
        - group: Usefull
          bookmarks:
            - name: Books
              url: https://z-lib.is/
            - name: P2000
              url: https://monitor.p2000alarm.nl/
            - name: Cyber Threat Intelligence
              url: "https://start.me/p/wMrA5z/cyber-threat-intelligence"
            - name: Shmoogle
              url: https://shmoogle.world/
            - name: OSINT Resources
              url: https://start.me/p/7kYgk2/rae-baker-deep-dive-osint
        - group: Artificial Intelligence
          bookmarks:
            - name: Bard
              url: https://bard.google.com/
            - name: ChatGPT
              url: https://chat.openai.com/
            - name: FastGPT
              url: https://labs.kagi.com/fastgpt
        - group: Socials etc.
          bookmarks:
            - name: Bookwyrm
              url: "https://bookwyrm.social"
      searchProviders:
        - name: Kagi
          token: k
          icon: ci:search
          searchUrl: https://kagi.com/search?q={query}
          url: https://kagi.com/
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          hajimari.io/enable: "false"
        hosts:
          - host: &host "hajimari.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podAnnotations:
      configmap.reloader.stakater.com/reload: hajimari-settings
    persistence:
      data:
        enabled: true
        type: emptyDir
    resources:
      requests:
        cpu: 100m
        memory: 128M
